<!DOCTYPE html>
<head>
    <title>
        <%=locals.title%>
    </title>
    <script src="https://kit.fontawesome.com/5dcb08b4c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>
        TODO list
    </h1>
</body>
</html>