body{
    margin :0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todolist{
    height: 20%;
    width: 50%;
    border: 10px;
    border-color: black;
    background-color: aqua;
}