body{
    margin :0%;
    font-family:'Times New Roman', Times, serif;
    /* background-color: rgb(40, 40, 73); */
    background-image: url("../image/todoimage.jpeg");
    background-size: cover;
    
}
/* heading */
h1{
    text-align: center;
}

.new{
    background:transparent;
    border:0;
    width: 15%;
    border-bottom: 1px solid white;

}

/* form section begin */
/* div section of todo list */
.form-section{
    width: 50%;
    height: 50%;
    background-color: lightslategray;
    margin-left: 25%;
    border-radius: 30px;

}
/* form inside div */
.form{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5px;
}

/* Description section */
.description
{ 
  width: 45%;
  height: 10%;
  text-align: center;
  display: flex;
  margin-left: 30%;
  padding: 5px;
}

/* Category section */
.category{
width: 45%;
margin-left: 30%;
display:flex;
padding:5px ;
}

/* DATE section */


.date{
    width: 45%;
    display:flex;
    padding: 5px;
    background-color: lightblue;
    margin-left: 30%;

}

/* ADD  and delete button section */

.ad-btn{
    display: flex;

}

.add-btn{
 background-color: lightgreen;
 width: 20%;
 height: 3%;
 border: 0;
 display: inline;
 text-align: center;
 margin-left: 40%;
 margin-top: 5%;
 padding: 3%;
}

.delete-btn{
    background-color: red;
    width: auto;
    height: auto;
    display: inline-block;
    border: 0;
    margin-left: 7%;
    margin-top: 5%;
}

/* todo list section */
/* my todo list  */
/* .todolist{
    height:2%;
    width: 40%;
    border: 10px;
    background-color:rgb(69, 189, 230) ;
    text-align:left;
    margin-left: 30%;
    margin-top: 2%;
} */

.todolist-ul{
    margin-left: 23%;
    width: 35%;
    height: fit-content;

}

.todolist-li{
    display: flex;
    height: fit-content;
    /* background-image: url("../image/wip.jpg"); */
background-color: rgb(113, 113, 243);
    /* background-size:contain; */
    margin-top: 5%;
    padding: 2%;
    border-radius: 20px;
    
}

/* input  section in todo list */
/* .input{
    margin-top: 20%;
    margin-left: -10%;
    display: inline;
    width: 5%;
    height: 5%;
    } */
/* description and date section */
.todo-des{
    width: 35%;
    margin-left: 2%; 
    margin-top: 2%;
    display: inline;
    overflow-x:hidden;
    /* background-color: aliceblue; */
}

/* category section */
.todo-cat{
    height:15%;
    margin-left: 20%;
    margin-top: 5%;
    display: inline-block;
    background-color: rgb(9, 9, 243);
}

/* delete button section */
.todo-del{
    text-align: center;
    margin-left: 55%;
    margin-top: 15%;
    background-color:red;
}